h1 Restrant
p Restrant Samples

ul
    li
        a(href='/stub') Controller Stub
    li
        a(href='/backbone') Connect Backbone.js
    li
        a(href='/mongoose') Connect Backbone.js to Mongoose model

